.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
    padding: 10px;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

.link{
    text-decoration: none;
}

.item{
    font-size: large;
    color: beige;
    
}